{{template "base/base.html" .}}
{{define "head"}} <title>Genomo Browser - Lightning: human genome data query</title>{{end}}
{{define "body"}}
<style>
  svg {
    font: 10px sans-serif;
  }

  .resize path {
    fill: #666;
    fill-opacity: .8;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
  }

  .brush .extent {
    fill: #fff;
    fill-opacity: .90;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
</style>
<p>Chrome 0:</p>
<svg id='chart'></svg>
<script src='d3.min.js'></script>
<script>
  var axisMin = 0, axisMax = 100;
  var selectMin = 0, selectMax = 10;

  var margin = {top: 30, right: 50, bottom: 30, left: 50},
    width = 960 - margin.left - margin.right,
    height = 90 - margin.top - margin.bottom;

  var svg = d3.select('#chart')
    .attr('width', width + margin.left + margin.right)
    .attr('height', height + margin.top + margin.bottom)
  .append('g')
    .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

  var x = d3.scale.linear()
    .domain([axisMin, axisMax])
    .range([0, width]);

  var y = function(){
    return 0;
  };

  var axis = d3.svg.axis().scale(x).orient('top')
  svg.append('g')
    .attr('class', 'x axis')
    .attr('transform', 'translate(0,' + 0 + ')')
  .call(axis);

  var rectBg = svg.append('g').append('rect')
    .attr('width', width)
    .attr('height', height)
    .attr('fill', '#f5f5f5')

  var rects = svg.append('g').attr('id', 'chart-rects')

  var brush = d3.svg.brush()
    .x(x)
    .extent([selectMin, selectMax])
    .on('brushstart', brushstart)
    .on('brush', brushmove)
    .on('brushend', brushend);

  var brushg = svg.append('g')
    .attr('class', 'brush')
    .call(brush);

  brushg.selectAll('.resize').append('path')
    .attr('transform', 'translate(0,' +  height / 2 + ')');

  brushg.selectAll('rect')
    .attr('height', height);

  function brushstart() {
    svg.classed('selecting', true);
  }

  function brushmove() {
    svg.classed('selecting', true);
  }

  function brushend() {
    svg.classed('selecting', !d3.event.target.empty());
    var s = brush.extent();
    var min = s[0], max = s[1];

    loadData(min, max);
  }

  function renderRects(data) {
    rects.selectAll('rect').remove('rect')
    rects.selectAll('rect').data(data)
      .enter().append('rect')
      .attr('transform', function(d){
        return 'translate(' + x(d.start) + ',' + y() + ')';
      })
      .attr('fill', function(d){
        return d.color;
      })
      .attr('height', height)
      .attr('width', function(d){
        return x(d.end - d.start);
      });
  }

  function loadData(min, max) {
    d3.json('/static/data.json?min='+min+'&max='+max, function(err, results) {
      var data = results.data;
      renderRects(data);
    });
  }

  loadData(0, 100);

</script>
{{end}}