<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
<meta name="author" content="Lightning" />
<meta name="description" content="Lightning website" />
<meta name="keywords" content="genome,lightning">

 <!-- Stylesheets -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/css/font-awesome.min.css" rel="stylesheet" />
<link href="/static/css/lightweb.css" rel="stylesheet" />

<script src="/static/js/jquery-1.10.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>