<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gopmweb-navbar-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" href="/">Lightning</a>
		</div>

		<div class="collapse navbar-collapse" id="gopmweb-navbar-collapse">
			<ul class="nav navbar-nav">
				<li {{if .IsHome}}class="active"{{end}}><a href="/"><i class="fa fa-home fa-fw"></i> Home</a></li>
			</ul>
		</div>
	</div>
</nav>
